<div class="container">
<% @ratings.each do |rating| %>
  <div class="well row">
  <h2>
  <% case rating.ratable_type.to_sym %>
  <% when :Account %>
  <%= rating.ratable.name %>
  <% end %>
  <span class="rating" data-score="<%= rating.rate %>" ></span>
  </h2>
  </div>
<% end %>
</div>
