<div class="container">
  <h1><%= @account.name -%>が登録した本</h1>
</div>

<div class="container">
  <%= rating_box_tag(:account=>current_account, :ratable=>@account) %>
</div>

<div class="container">
  <%= partial 'layouts/book_list', :locals=>{:books=>@books} %>
</div>

<%= javascript_include_tag url(:rating, :config, :format=>:js, :account_id=>current_account.id) %>
